# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.ipynb
*.DS_Store
*.pickle
*-checkpoint.py
wandb/
outputs/
models*/
renders*/

**.safetensors

old_cvi/
slurm/logs/

checkpoints/

figures/

purejaxql/*.npz
purejaxql/*.msgpack